@{
    ViewData["Title"] = "Home Page";
}
<div ng-controller="indexCtrl">
        <div class="text-center mt-5">
            <button class="btn btn-primary btn-block mb-5">Start Your Workout!</button>
        </div>

        <div class="text-center" ng-cloak>
            <h4>You've Lifted {{pounds}} LBS! That's Equivilent to {{numItems}} {{item}}</h4>
            <img class="img-circle img-fluid" src="{{imagePath}}" height="500" width="500" />
        </div>
</div>