
@{
    ViewData["Title"] = "Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/style/StyleSheet1.css" rel="stylesheet"/>

<div class="container">

    <h1 class="text-center">Stats</h1>
    <p class="text-center">
        Here you will find a summary of your current statistics.
    </p>

    <div class="row">
        <div class="col-md-4">
            <div class="single-stat">
                <h2>Vitals</h2>
                <i class="fas fa-weight fa-5x"></i>
                <h4>Height:</h4>
                <h4>Weight:</h4>
                <h4>Age:</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-stat">
                <h2>Git Stats</h2>
                <i class="fas fa-pen-square fa-5x"></i>
                <h4>Workouts completed:</h4>
                <h4>Log in streak:</h4>
                <h4>Personal record breaks:</h4>
            </div>
        </div>
        <div class="col-md-4">
            <div class="single-stat">
                <h2>Records</h2>
                <i class="fas fa-dumbbell fa-5x"></i>
                <h4>Best Bench:</h4>
                <h4>Best Deadlift:</h4>
                <h4>Best Squat: </h4>
                <h4>Best OHP:</h4>



            </div>
        </div>

    </div>


