<!DOCTYPE html>
<html ng-app="gitRipped">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Git -Ripped</title>

	<link rel="stylesheet" href="~/lib/mdboostrap/MDB-Free_4.7.3/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/lib/mdboostrap/MDB-Free_4.7.3/css/mdb.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">

	<link rel="stylesheet" href="~/css/site.css" />


	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular-route.js"></script>


</head>
<body ng-controller="LayoutCtrl">
	<!--MODALS-->
	<div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4 class="modal-title w-100 font-weight-bold">Register</h4>
					<button type="button" class="close" ng-click="clearBasicUserInfo()" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					<form id="registerForm" name="registerForm">
						<div class="md-form mb-3">
							<input type="text" class="form-control validate" name="registerFirstName" ng-model="basicInfo.firstName" id="registerFirstName" required autofocus />
							<label for="registerFirstName" data-error="Please enter your first name">First Name</label>
						</div>
						<div class="md-form mb-3">
							<input type="text" class="form-control validate" name="registerLastName" ng-model="basicInfo.lastName" id="registerLastName" required="required" />
							<label for="registerLastName" data-error="please enter your last name">Last Name</label>
						</div>

						<div class="md-form mb-3">
							<input type="email" class="form-control validate" ng-model="basicInfo.email" name="registerEmail" required id="registerEmail" />
							<label for="registerEmail" data-error="please enter a valid email">Email</label>
						</div>
						<div class="md-form mb-3">
							<input type="password" class="form-control validate" id="registerPassword" ng-model="basicInfo.password" pattern=".{8,}" name="registerPassword" required />
							<label for="registerPassword">Password (8 characters min)</label>
						</div>
						<div class="md-form mb-3">
								<input type="password" class="form-control validate" id="registerPasswordConfirmation" name="registerPasswordConfirmation" ng-blur="doesPasswordMatch()" ng-model="basicInfo.password2" required>
								<label for="registerPasswordConfirmation">Confirm Password</label>
								<div class="alert alert-warning" ng-if="!doesPasswordMatch() && registerForm.registerPassword.$dirty && registerForm.registerPasswordConfirmation.$dirty">Passwords are not correct or don't match </div>
						</div>
						<div class="md-form mb-3">
							<div class="col-12">
								<button type="submit" value="submit" class="btn btn-primary w-100" ng-click="register()" ng-disabled="registerForm.$invalid || !doesPasswordMatch()">
									Register
								</button>
							</div>
						</div>

						<div class="form-row pt-3">
							<div class="col-12">
								<div class="align-text-center">
									<div class="form-group text-center">
										<p class="font-medium">Already have a Git-Ripped Account? <a data-toggle="modal" data-dismiss="modal" data-target="#SigninModal" class="underline">Sign In</a>.</p>
									</div>
								</div>
							</div>
						</div>

					</form>

				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="SigninModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel"
		 aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
					<button type="button" class="close" ng-click="clearBasicUserInfo()" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body mx-3">
					<form id="signInForm" name="signInForm">
						<div class="md-form mb-5">
							<i class="fas fa-envelope prefix grey-text"></i>
							<input type="email" id="signInFormEmail" ng-model="basicInfo.email" class="form-control validate" required>
							<label data-error="please enter a valid email" for="signInFormEmail">Your email</label>
						</div>

						<div class="md-form mb-4">
							<i class="fas fa-lock prefix grey-text"></i>
							<input type="password" id="signInFormPass" ng-model="basicInfo.password" class="form-control validate" required>
							<label for="signInFormPass">Your password</label>
						</div>
					</form>
				</div>
				<div class="modal-footer d-flex justify-content-center">
					<button class="btn btn-default" ng-click="signIn()" ng-disabled="signInForm.$invalid">Login</button>
				</div>
			</div>
		</div>
	</div>

	<!--/MODALS-->
	<!--Navbar -->
	<nav class="mb-1 navbar navbar-expand-lg navbar-dark primary-color">
		<a class="navbar-brand" href="/">Git -Ripped</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#gitNav"
				aria-controls="gitNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-collapse collapse" id="gitNav">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="/">
						Home

					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home/stats">Stats</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/home/findplan">Find A Plan</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Progress</a>
				</li>
			</ul>
			<ul class="navbar-nav ml-auto nav-flex-icons" ng-if="loggedIn" ng-cloak>
				<li class="nav-item dropdown text-center">
					<a class="nav-link dropdown-toggle" id="navProfile" data-toggle="dropdown" aria-haspopup="true"
					   aria-expanded="false">
						<i class="fas fa-user"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-right  dropdown-default" aria-labelledby="navProfile">
						<a class="dropdown-item" href="/home/ViewAccount">View Account</a>
						@*<a class="dropdown-item" href="#">Another action</a>*@
						<a class="dropdown-item" href="#">Sign Out</a>
					</div>
				</li>
			</ul>
			<button class="btn blue-gradient " ng-if="loggedIn" ng-click="" ng-cloak>Sign Out</button>

			<button class="btn blue-gradient " ng-if="!loggedIn" data-toggle="modal" data-target="#SigninModal">Sign In</button>
			<button class="btn peach-gradient" ng-if="!loggedIn" data-toggle="modal" data-target="#RegisterModal">Register</button>
		</div>
	</nav>
	<!--/.Navbar -->

	<div class="body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2019 - git_ripped</p>
		</footer>
	</div>





	<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://unpkg.com/popper.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="~/lib/mdboostrap/MDB-Free_4.7.3/js/bootstrap.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="~/lib/mdboostrap/MDB-Free_4.7.3/js/mdb.js"></script>
	<script type="text/javascript" src="~/js/site.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>
